* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
	color: #fff;
	background: #000;
}
a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	text-decoration: underline;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.container {
	width: 100%;
	max-width: 1290px;
	margin: 0 auto;
	padding: 0 24px;
}
header {
	background: #000;
	height: 90px;
	padding: 0 20px;
	display: flex;
	flex-wrap: wrap;
}
.navbar-brand {
	width: 10%;
	padding-top: 20px;
}
.navbar-brand img {
	max-width: 105px;
}
.navbar-collapse {
	display: flex;
	width: 90%;
	padding-left: 20px;
	align-items: center;
}
.sub-nav {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
}
.sub-nav .nav-item {
	max-width: 14%;
	padding: 0 24px;
	text-transform: uppercase;
	text-align: center;
}
.sub-nav .nav-item a {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}
.sub-nav .cp_ipselect {
	overflow: hidden;
	margin: 0 24px;
	padding: 0;
	text-align: center;
}
.cp_ipselect select {
	width: 100%;
	padding-right: 1em;
	cursor: pointer;
	text-indent: 0.01px;
	text-overflow: ellipsis;
	border: none;
	outline: none;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.cp_ipselect select::-ms-expand {
    display: none;
}
.cp_ipselect.cp_sl01 {
	position: relative;
}
.cp_ipselect.cp_sl01::before {
	position: absolute;
	top: 0.5em;
	left: 5em;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #fff;
	pointer-events: none;
}
.cp_ipselect.cp_sl01 select {
	color: #fff;
}
.input-group-append {
	width: 15%;
}
#sbox1{
	font-size: 14px;
	border-radius:2px;
	border: 1px solid #444444;
	outline:0;
	background:#2B2B2B;
	padding: 8px 16px;	
}
.btn {
	text-align: center;
	width: 10%;
}
.btn a {
	display: inline-block;
	border: 1px solid #fff;
	border-radius: 24px;
	padding: 8px 24px;
}
.main-carousel .slide {
	width: 100%;
	height: 700px;
 }
 .slide {
	 position: relative;
 }
.main-carousel h2 {
	 position: absolute;
	 bottom: 0;
	 left: 0;
	 padding: 0 80px 80px 80px;
	 font-size: 56px;
	 font-weight: 300;
	 width: 70%;
	 line-height: 1.2;
 }
 .slide1 {
	background-image: url(../image/GettyRF_532238625.jpg);
	background-size: cover;
 }
 
 .slide2 {
	background-image: url(../image/IMG_052311.jpg);
	background-size: cover;
 }
 
 .slide3 {
	background-image: url(../image/PHOTO-2020-04-15-10-57-42.jpg);
	background-size: cover;
 }

 .slide4 {
	background-image: url(../image/MilanCyclists.jpg);
	background-size: cover;
 }
 
 .slide5 {
	background-image: url(../image/shutterstockRF_332425811.jpg);
	background-size: cover;
 }
 
 .slide6 {
	background-image: url(../image/MilanPollution.jpg);
	background-size: cover;
 }
.swiper-wrapper-L {
	margin: 64px 0;
}
.swiper-wrapper-L h2 {
	font-size: 20px;
	font-weight: 300;
}
.swiper-wrapper-L ul {
	display: flex;
	flex-wrap: wrap;
	margin-top: 8px;
	margin-left: -16px;
}
.swiper-L {
	width: 33.33%;
	padding-left: 16px;
}
.swiper-L img {
	width: 100%;
}
.detail {
	margin-top: 8px;
}
.detail h3 {
	font-size: 14px;
	font-weight: 300;
	padding-bottom: 4px;
}
.detail .Episode {
	font-size: 12px;
	font-weight: 200;
	opacity: 0.7;
}
@media (max-width: 1290px) {
	.navbar-collapse {
		justify-content: flex-end;
	}
	.sub-nav, .input-group-append {
		display: none;
	}
	.btn {
		text-align: right;
		width: 100%;
	}
	.main-carousel .slide {
		width: 100%;
		height: 500px;
	 }
	 .main-carousel h2 {
		padding: 0 40px 40px 40px;
		font-size: 40px;
		width: 100%;
	}
}



